#list-cap {
    display: block;
    height: 15px;
    width: 190px;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a9adb1;
    border: 1px solid #a9adb1;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 15px;
}

#list-cap-input {
    width: 150px;
    border: 0px;
}

input:focus, textarea:focus {
    outline: none;
}


#list-contacts {
    margin-top: 20px;
    border-top: 1px solid #a9adb1;
    max-height: none;
}

#list-wrapper {
    width: 220px;
}