#header {
background-color: #263238;
background-image: linear-gradient(to bottom right, #263238, #516c79);
width: 100%;
align-self: flex-start;
height: 5vh;
border-bottom: 10px;
border-bottom-color: black;
border-radius: 0 0 10px 10px;
display: flex;
justify-content: space-between;
align-items: center;
color: #f0f8ff;
}

#header-logo {
    padding: 10px;
    height: 30px;
}

#header-icons {
padding-right: 10px;
display: flex;
}

#header-icons-element {
    padding: 10px;
    font-size: 1.5em;
}

#header-icons div :before {

    content: '';
    width: 1px;
    height: 90%;
    background-color: #fff;
   
    
    

}